@font-face {
    font-family: "Harmonia";
    font-weight: 700;
    src: url('../fonts/Harmonia-Bold.otf');
  }
@font-face {
    font-family: "Harmonia";
    font-weight: 900;
    src: url('../fonts/Harmonia-Black.otf');
}
@font-face {
    font-family: "Harmonia";
    font-weight: 400;
    src: url('../fonts/Harmonia-Regular.otf');
}


//>>>COLORS
$bg-color: #FD74BC;
$text-color-primary: #0A2465;
$text-color-contrast: #ffff;

//>>>STORY MAP RATIO
$story-height: 40vh;
$map-height: 70vh;
$fader-height: 50vh;

@mixin font($font, $weight, $fontsize){
    font-family: $font;
    font-weight: $weight;
    font-size: $fontsize;
}

/*+++++++++++++++++++/
  NEW Style
/+++++++++++++++++++*/


.story {
    position: relative;
    width: 100%;
    background-color: $bg-color;
    padding: 20px;
    border-radius: 25px;
    height: $story-height;  //Story Height
    margin-top: 20px;
    margin-bottom: 30px;

    color: $text-color-primary;

    overflow: visible;

    @include font("Harmonia", 400, 14px);

    .content {
        margin-top: 20px;
        text-align: left;
        @include font("Harmonia", 700, 20px);
      }

    .created {
        position: absolute;
        top: 15px;
        left: 20px;
    }

    .headline{
        position: absolute;
        bottom: 15px;
        left: 20px;
    }

    .location{
        position: absolute;
        top: 15px;
        right: 20px;
    }

    .delete{
        position: absolute;
        bottom: 15px;
        right: 20px;
        cursor: pointer;
    }
    .emoji{
        position: absolute;
        right: 0;
        left: 0;
        margin-left: auto;
        margin-right: auto;
        top: -15px;
        background: transparent;
        border: 0px;
        box-shadow: none;
        font-size: 50px;
    }
  }

  #feed{
    position: absolute;
    bottom: 10px;
    padding: 0px;
  }
  .swiper-slide{
      .story{
        background: #834B90;
        opacity: 1;
        z-index: 0;
        margin-left: -30px;
        transition: 300ms;
      }
  }
  .swiper-slide-next{
      .story{
          transform: scale(0.8) translateX(60px);
      }
  }
  .swiper-slide-prev{
    .story{
        transform: scale(0.8) translateX(-60px);
    }
}
  .swiper-slide-active{
      .story{
        background: $bg-color;
        opacity: 1;
        transform: scale(1);
        z-index: 10;
        transition: 300ms;
        box-shadow:0px 0px 11px 2px #0000005c;
      }
    
}

  //>>Pagination Dots
  .swiper-pagination-bullet{
      background: $text-color-contrast;
    
  }
  .swiper-pagination-bullet-active{
    background: $bg-color;
}
  



  //>>FADER

  #fader-feed-map{
    position: absolute;
    bottom: 0px;

    height: $fader-height;
    width: 100%;

    background: linear-gradient(to top, $text-color-primary 50%,$text-color-primary 65%,rgba(255,255,255,0.1) 85%, rgba(255,255,255,0) 97%)
  }


  //>>MAP STYLE


  .vue-map-container{
    position: absolute;
    width: 100%;
    height: $map-height;
  }

  a[href^="http://maps.google.com/maps"]{display:none !important}
  a[href^="https://maps.google.com/maps"]{display:none !important}
  .gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
  }
.gmnoprint div {
    background:none !important;
}

/*+++++++++++++++++++/
  Tutorial Style
/+++++++++++++++++++*/

.tutorial{
    height: 100vh;
    background-color: #FD74BC;

    font-family: 'Harmonia';
}

.tutorial-page{
    padding-top: 20vh;
}

.swiper-button-disabled{
    display: none;
}

/*+++++++++++++++++++/
  New Style
/+++++++++++++++++++*/

#new-story{
    width: 100%;
    height: 100vh;
    border: 0px;
    padding: 32px;

    font-size: 50px;
    font-family: 'Harmonia';
    font-weight: 900;

    line-height: 1.2;

    color: #0A2465;
    background-color: #FD74BC;
}

.form{
    background-color: #FD74BC;
}

#remain-char{
    position: fixed;
    bottom: 10px;
    right: 10px;

    color: #0A2465;
    font-family: 'Harmonia';
}

.new{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.pop-up{
    font-family: 'Harmonia';
    color: #0A2465;

    max-width: 80%;
    padding: 2px 5px 2px 5px;

    position: absolute;
    top: 0px;
    left: 0px;
}

//>>>Emoji Selection

.emoji{
    font-size: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;



    width: 60px;
    height: 60px;

    background: #FFFFFF;
    border: 1px solid #BDBDBD;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.40);
    border-radius: 10px;
}


.grid-9x9{
    max-width: 250px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;

    margin-bottom: 20px;
}

.grid-9x9 label{
    margin-top: 8%;
    width: 33.3%;
    text-align: -webkit-center;
    cursor: pointer;
}
.grid-9x9 label span{
    padding-top: 7px;
}


.radio-hide{
    display: none;
}

.radio-hide:hover{
    cursor: pointer;
}

.radio-hide:checked + .emoji{
    border: 2px solid #4A90E2;
    box-shadow: 0 1px 13px 0 rgba(74,144,226,0.70);
    border-radius: 10px;

    transition: box-shadow 100ms;
    transition-timing-function: ease-in;
}
