@font-face {
    font-family: "Harmonia";
    font-weight: 700;
    src: url('../fonts/Harmonia-Bold.otf');
  }
@font-face {
    font-family: "Harmonia";
    font-weight: 900;
    src: url('../fonts/Harmonia-Black.otf');
}
@font-face {
    font-family: "Harmonia";
    font-weight: 400;
    src: url('../fonts/Harmonia-Regular.otf');
}


//>>>COLORS
$bg-color: #FD74BC;

$text-color-primary: #0A2465;
$text-color-contrast: #ffff;

//>>>STORY MAP RATIO
$story-height: 40vh;
$map-height: 70vh;
$fader-height: 50vh;

@mixin font($font, $weight, $fontsize){
    font-family: $font;
    font-weight: $weight;
    font-size: $fontsize;
}

.color-bg{
    background-color: $bg-color;
}

.fullscreen{
    width: 100vw;
    height: 100vh;
}

.flex{
    display: flex;

    &.column{
        flex-direction: column;
    }
    &.h-center{
        justify-content: center;
    }
    &.v-center{
        align-items: center;
    }
}

.pad-t{
    padding-top: 80px;
}

.pad-l{
    padding-left: 32px;
}
.pad-r{
    padding-right: 32px;
}

h1{
    @include font('Harmonia', 900, 50px);
    color: $text-color-primary;
    text-align: left;
}

textarea{
    &:focus{
        outline: none;
    }
}

.back-button{
    position: absolute;
    left: 32px;
    top: 24px;
    border: none;
    appearance: none;
    background-color: transparent;
    @include font('Harmonia', 700, 20px);
    color: $text-color-primary;
    z-index: 20;
    cursor: pointer;
}

.button{
    width: 200px;
    height: 60px;
    background: $text-color-primary;
    color: $text-color-contrast;
    border-radius: 20px;
    border: 0px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 30px;
    padding-top: 5px;

    margin-left: auto;
    margin-right: auto;

    z-index: 20;

    @include font("Harmonia", 700, 18px);

    box-shadow: 0px 2px 8px rgba(lighten(#000000,20),.3);
    cursor: pointer;
    transition: 300ms;

    &.sec{
        box-shadow: none;
        background: none;
        color: $text-color-primary;
    }

    &.fixed{
        position: fixed;
        bottom: 40px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }

    &.button-main{
        position: fixed;
        bottom: 40px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
      
    }

    &:disabled{
        box-shadow: none;
        cursor: inherit;
        background: darken($bg-color,6);
        color: lighten($bg-color,10);
       
    }
    &:focus{
        outline: none;
    }



    
}

.bg-animation{
    background-image: linear-gradient(-40deg,  lighten($bg-color,2) 30%, $bg-color 30%);
    animation: gradient 15000ms ease-in-out infinite 100ms;
    background-size: 200% 200%;


    @keyframes gradient {
        0% { background-position: 100% 100%; }
        50% { background-position: 80% 40%; }
        100% { background-position: 100% 100%; }
      }

}



/*+++++++++++++++++++/
  Welcome Style
/+++++++++++++++++++*/


/*+++++++++++++++++++/
  Tutorial Style
/+++++++++++++++++++*/

.tutorial{
    height: 100vh;
    background-color: $bg-color;

    font-family: 'Harmonia';

    .swiper-pagination-bullet-active{
        background: $text-color-primary;
    }

    .button-main{
        position: relative;
    }
}

.tutorial-page{
    padding-top: 20vh;
}

.swiper-button-disabled{
    display: none;
}

/*+++++++++++++++++++/
  Journey Style
/+++++++++++++++++++*/

//>>>Journey
.story {
    position: relative;
    width: 100%;
    background-color: $bg-color;
    padding: 20px;
    border-radius: 25px;
    height: $story-height;  //Story Height
    margin-top: 20px;
    margin-bottom: 30px;

    color: $text-color-primary;

    overflow: visible;

    @include font("Harmonia", 400, 14px);

    .content {
        margin-top: 20px;
        text-align: left;
        @include font("Harmonia", 700, 20px);
      }

    .created {
        position: absolute;
        top: 15px;
        left: 20px;
    }

    .headline{
        position: absolute;
        bottom: 15px;
        left: 20px;
    }

    .location{
        position: absolute;
        top: 15px;
        right: 20px;
    }

    .delete{
        position: absolute;
        bottom: 15px;
        right: 20px;
        cursor: pointer;
    }
    .emoji{
        position: absolute;
        right: 0;
        left: 0;
        margin-left: auto;
        margin-right: auto;
        top: -15px;
        background: transparent;
        border: 0px;
        box-shadow: none;
        font-size: 50px;
    }
  }

  #feed{
    position: absolute;
    bottom: 10px;
    padding: 0px;
  }
  .swiper-slide{
      .story{
        background: #834B90;
        opacity: 1;
        z-index: 0;
        transition: 300ms;
      }
  }
  .swiper-slide-next{
      .story{
          transform: scale(0.8) translateX(-60px);
      }
  }
  .swiper-slide-prev{
    .story{
        transform: scale(0.8) translateX(60px);
    }
}
  .swiper-slide-active{
      .story{
        background: $bg-color;
        opacity: 1;
        transform: scale(1);
        z-index: 10;
        transition: 300ms;
        box-shadow:0px 0px 11px 2px #0000005c;
      }
    
}

  //>>Pagination Dots
  .swiper-pagination-bullet{
      background: $text-color-contrast;
    
  }
  .swiper-pagination-bullet-active{
    background: $bg-color;
}
  



  //>>FADER

  #fader-feed-map{
    position: absolute;
    bottom: 0px;

    height: $fader-height;
    width: 100%;

    background: linear-gradient(to top, $text-color-primary 50%,$text-color-primary 65%,rgba(255,255,255,0.1) 85%, rgba(255,255,255,0) 97%)
  }


  //>>MAP STYLE

  .map-zoom-button{
      position: absolute;
      z-index: 100;
      top: 32px;
      right: 8px;
    .zbtn{
        margin: 10px 0px;
        width: 40px;
        height: 40px;
        background-color: $text-color-primary;
        @include font('Harmonia', 900, 30px);
        color: $text-color-contrast;
        border-radius: 5px;
        box-shadow: 0px 0px 5px $text-color-primary;
        cursor: pointer;
        user-select: none;
        transition: 100ms ease;
        &:active{
            color: darken($text-color-contrast, 20);
            background-color: darken($text-color-primary, 2);
            box-shadow: 0px 0px 1px $text-color-primary;
        }
    }
  }


  .vue-map-container{
    position: absolute;
    width: 100%;
    height: $map-height;
  }

  a[href^="http://maps.google.com/maps"]{display:none !important}
  a[href^="https://maps.google.com/maps"]{display:none !important}
  .gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
  }
.gmnoprint div {
    background:none !important;
}


//>>Topic Selection





/*+++++++++++++++++++/
  Tell Style
/+++++++++++++++++++*/

//>>>Topic Selection
.topic{
    text-align: left;
    padding-top: 40px;
    width: 100%;
    height: 100%;

    @include font('Harmonia', 900, 50px);
    line-height: 1.2;
    color: $text-color-primary;
    .text-block{
        padding: 32px;
    }

    .link{
        background-image: linear-gradient(180deg,rgba(255,255,255,0) 50%, lighten($bg-color, 5) 50%);
        color: $text-color-primary;
        font-size: 50px;
        font-weight: 900;  
        text-decoration: underline;
        text-decoration-style: solid;


       
    }
}

#new-story{
    width: 100%;
    height: 100%;
    border: 0px;
    padding: 32px;
   

    @include font('Harmonia', 900, 50px);
    line-height: 1.2;

    color: $text-color-primary;
    background-color: $bg-color;

    caret-color: $text-color-primary;
    &::placeholder{
        color: rgba( $text-color-primary, .4 )
    }
    &:focus{
        outline: none;
    }
    &::selection {
        background: $text-color-primary;
        color: $bg-color;
      }
}



.form{
    padding-top: 40px;
    background-color: $bg-color;
    position: relative;
    height: 80vh;
    z-index: 0;
}

#remain-char{
    position: absolute;
    bottom: 30px;
    right: 30px;

    color: $text-color-primary;
    font-family: 'Harmonia';
}

.new{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.pop-up{
    font-family: 'Harmonia';
    color: $text-color-primary;

    max-width: 80%;
    padding: 2px 5px 2px 5px;

    position: absolute;
    bottom: 30px;
    left: 20px;
}

//>>>Emoji Selection

.feel{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.emoji{
    font-size: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    background-color: lighten($bg-color, 5);
    border-radius: 15px;
    width: 70px;
    height: 70px;

}


.grid-9x9{
    margin-top: 5vh;
    max-width: 250px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;

    margin-bottom: 20px;
}

.grid-9x9 label{
    margin-top: 3%;
    width: 33.3%;
    text-align: -webkit-center;
    cursor: pointer;
}
.grid-9x9 label span{
    padding-top: 7px;
}


.radio-hide{
    display: none;
}

.radio-hide:hover{
    cursor: pointer;
}

.radio-hide:checked + .emoji{
    box-shadow: 0 1px 13px 0 lighten($text-color-primary, 5);
    border-color: $text-color-primary;
    border-width: 1px;
    background-color: $text-color-primary;
    animation: emoji-whoop 300ms ease-in-out;


    @keyframes emoji-whoop {
        0% { transform: scale(1); }
        50% { transform: scale(1.6); }
        100% { transform: scale(1); }
      }
}

/*+++++++++++++++++++/
  Where Style
/+++++++++++++++++++*/

.input-location{
    background: $bg-color;
    border: none;
    color: $text-color-primary;
    @include font('Harmonia', 900, 50px);
    padding-left: 32px;
    width: 100%;
    line-height: 1.2;
    &::placeholder{
        color: rgba( $text-color-primary, .4 );
        
    }
}

.where{
    p{
        @include font('Harmonia', 700, 20px);
        color: $text-color-primary;
        text-align: left;
    }
}

/*+++++++++++++++++++/
  Summary Style
/+++++++++++++++++++*/

$card-height: 60vh;
$card-width: 90%;

$card-space-left: 20px;
$card-space-right: 20px;
$card-space-bottom: 20px;
$card-space-top: 20px;

$card-font-size-l: 35px;
$card-font-size-s: 16px;




.summary-card{
    height: $card-height;
    width: $card-width;
    background-color: $text-color-primary;
    z-index: 10;
    border-radius: 30px;
    padding-top: $card-space-top;
    position: relative;
    color: $text-color-contrast;
    @include font('Harmonia', 700, $card-font-size-s);

    position: absolute;
    top: 80px;

    &.hide{
        top: -350px;
    }
}

.d-r{
    position: absolute;
    bottom: $card-space-bottom;
    right: $card-space-right;
}
.d-l{
    position: absolute;
    bottom: $card-space-bottom;
    left: $card-space-left;
}

.t-r{
    position: absolute;
    top: $card-space-top;
    right: $card-space-right;
}
.t-l{
    position: absolute;
    top: $card-space-top;
    left: $card-space-left;
}

#summary-story{
    width: 100%;
    height: 100%;
    border: 0px;
    padding: calc( #{$card-space-top} + 10px) $card-space-right $card-space-bottom $card-space-left;
    background-color: transparent;
    z-index: 20;
   

    @include font('Harmonia', 900, $card-font-size-l);
    line-height: 1.2;

    color: $text-color-contrast;

    &::placeholder{
        color: rgba( $text-color-primary, .4 )
    }
    &:focus{
        outline: none;
    }
    &::selection {
        background: $text-color-primary;
        color: $bg-color;
      }
}

.emoji-edit{
    position: absolute;
    top: 150px;
    &.hide{
        display: none;
    }
}


/*+++++++++++++++++++/
  Giveaway Style
/+++++++++++++++++++*/

.countdown{
    position: relative;
    width: 100px;
    height:140px;

    margin-left: auto;
    margin-right: auto;

    margin-top: 30px;
    margin-bottom: 30px;

    border-radius: 25px;

    background-color: lighten($bg-color, 5);
    text-align: center;

    color: $text-color-primary;

    @include font('Harmonia', 900, 90px);

    .description{
        position: absolute;
        font-size: 20px;

        bottom: 5px;
        left: 0;
        right: 0;
    }

    animation: pulse 1000ms ease-in-out infinite;


    @keyframes pulse {
        0% { transform: scale(1); }
        50% { transform: scale(1.05); }
        100% { transform: scale(1); }
      }

}

.giveaway-alert{
    background-color: $text-color-primary;

    @include font('Harmonia', 700, 20px);
    color: $bg-color;
    padding: 10px 15px 8px 15px;

    transform: rotate(-2deg);

    &.success{
        transform: rotate(0deg);
        color: $text-color-primary;
        background-color: $bg-color;
    }
}

.giveaway{
    overflow: hidden;
    .story{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        background-color: $text-color-primary;
        color: $text-color-contrast;
        position: absolute;
        left: 0;
        right: 0;
        top: 85%;
        bottom: 0px;
        transition: 500ms;
        &.show{
            bottom: 0px;
            top: 54%;
        }
    }

    .instruction{
        margin-top: 20px;
        padding: 0px 10px 0px 10px;
        @include font('Harmonia', 700, 20px);
        line-height: 1.2;
        color: $text-color-primary;
    }
}
    
