@font-face {
    font-family: "Harmonia";
    font-weight: 700;
    src: url('../fonts/Harmonia-Bold.otf');
  }
@font-face {
    font-family: "Harmonia";
    font-weight: 900;
    src: url('../fonts/Harmonia-Black.otf');
}
@font-face {
    font-family: "Harmonia";
    font-weight: 400;
    src: url('../fonts/Harmonia-Regular.otf');
}


//>>>COLORS
$bg-color: #FD74BC;

$text-color-primary: #0A2465;
$text-color-contrast: #ffff;

//>>>STORY MAP RATIO
$story-height: 40%;
$map-height: 70%;
$fader-height: 50%;

@mixin font($font, $weight, $fontsize){
    font-family: $font;
    font-weight: $weight;
    font-size: $fontsize;
}

body{
    height: 100%;
    overflow: hidden !important;
}

#app{
    height: 100%;
    position: fixed;
}

.color-bg{
    background-color: $bg-color;
    &.bg-animation{
        background-image: linear-gradient(-40deg,  lighten($bg-color,2) 30%, $bg-color 30%);
        animation: gradient 15000ms ease-in-out infinite 100ms;
        background-size: 200% 200%;
    }
    
}
.color-primary{
    background-color: $text-color-primary;
    &.bg-animation{
        background-image: linear-gradient(-40deg,  lighten($text-color-primary,3) 30%, $text-color-primary 30%);
        animation: gradient 15000ms ease-in-out infinite 100ms;
        background-size: 200% 200%;
    }
}

@keyframes gradient {
    0% { background-position: 100% 100%; }
    50% { background-position: 80% 40%; }
    100% { background-position: 100% 100%; }
  }

.fullscreen{
    width: 100vw;
    height: 100%;
    overflow: hidden;
}

.flex{
    display: flex;

    &.column{
        flex-direction: column;
    }
    &.h-center{
        justify-content: center;
    }
    &.h-left{
        justify-content: left;
    }
    &.v-center{
        align-items: center;
    }
}

.pad-t{
    padding-top: 80px;
}

.pad-l{
    padding-left: 32px;
}
.pad-r{
    padding-right: 32px;
}
.pad-b{
    padding-bottom: 32px;
}

h1{
    @include font('Harmonia', 900, 50px);
    color: $text-color-primary;
    text-align: left;
}
h2{
    @include font('Harmonia', 900, 30px);
    color: $text-color-primary;
    text-align: left;
}
p{
    text-align: left;
    

}

textarea{
    &:focus{
        outline: none;
    }
}

.back-button{
    position: absolute;
    left: 0px;
    top: 32px;
    text-align: left;
    padding-left: 32px;
    width: 100%;
    border: none;
    appearance: none;
    background-color: $bg-color;
    @include font('Harmonia', 700, 20px);
    color: $text-color-primary;
    z-index: 20;
    cursor: pointer;
}

.button{
    height: 60px;
    min-width: 200px;
    background: $text-color-primary;
    color: $text-color-contrast;
    border-radius: 20px;
    border: 0px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 30px;
    padding: 5px 20px 0px 20px;

    margin-left: auto;
    margin-right: auto;

    z-index: 20;

    @include font("Harmonia", 700, 18px);

    box-shadow: 0px 2px 8px rgba(lighten(#000000,20),.3);
    cursor: pointer;
    transition: 300ms;

    :focus{
        outline: none !important;
    }

    &.sec{
        box-shadow: none;
        background: none;
        color: $text-color-primary;
    }

    &.fixed{
        position: fixed;
        bottom: 40px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }

    &.button-main{
        min-width: 200px;
        margin-top: auto;
        align-self: center;
        margin-bottom: 32px;

        &.button-where{
            margin-bottom: 120px;
        }

      
    }

    &:disabled{
        box-shadow: none;
        cursor: inherit;
        background: darken($bg-color,6);
        color: lighten($bg-color,10);
       
    }
    &:focus{
        outline: none;
    }



    
}

button{
    &:focus{
        outline: none !important;
    }
}





/*+++++++++++++++++++/
  Welcome Style
/+++++++++++++++++++*/

.img-blur{
    filter: blur(12px);
    opacity: 0.8;

    &#img1{
        position: absolute;
        animation: fly-r-l 4000ms infinite;
        top: 45%;
    }
   
}

@keyframes fly-r-l {
    0% { right: -500px; opacity: 0 }
    50% { right: 20px; opacity: 1  }
    100% { right: 500px; opacity: 0  }
  }
 

.welcome-intro{
    padding-left: 32px;
    
}

.welcome-headline{
    position: relative;
    width: 100%;
    z-index: 20;
    text-shadow: 0px 2px 8px rgba($text-color-primary,0.4);
    h2{
        position: absolute;
        left: 0;
        top: 0;
    }
    .number{
        position: absolute;
        top: 60px;
        left: 65px;
        display: flex;
        flex-direction: column;
        color: $bg-color;
        @include font('Harmonia', 700, 20px);
        line-height: 1;
        #number-user{
            font-size: 130px;
            font-weight: 900;
            line-height: 0.7;
        }
        .number-description{
            font-size:60px;
        }
    }
}

.welcome{
    .button-main{
        background-color: $bg-color;
        align-self: center;
        margin-top: auto;
        position: relative;
    }
    h2{
        color: $bg-color;
    }
}






/*+++++++++++++++++++/
  Tutorial Style
/+++++++++++++++++++*/

.tutorial{
    height: 100%;
    background-color: $bg-color;

    font-family: 'Harmonia';

    .swiper-pagination-bullet-active{
        background: $text-color-primary;
    }

    .button-main{
        position: relative;
    }
}

.tutorial-page{
    display: flex;
    flex-direction: column;
    .tutorial-content{
        padding: 32px;
        padding-top: 64px;
        h1{
            line-height: 1;
        }
        p{
            @include font('Harmonia', 700, 20px);
    color: $text-color-primary;
    line-height: 1;
        }

        .tutorial-h1{
            @include font('Harmonia', 700, 26px);
            color: $bg-color;
            background:$text-color-primary;
            padding: 5px 12px 0px 12px;
            margin: 12px;
            display: table;
        }
        .body{
            &.m-t-10{
                margin-top: 10px;
            }
            &.m-t-20{
                margin-top: 20px;
            }
            &.m-t-30{
                margin-top: 30px;
            }
            &.m-t-40{
                margin-top: 40px;
            }
            &.m-t-50{
                margin-top: 50px;
            }
            &.m-t-60{
                margin-top: 60px;
            }
            &.m-t-70{
                margin-top: 70px;
            }
            &.m-t-80{
                margin-top: 80px;
            }

            margin-top: 30px;
        }
    }  
    #t1{
        margin-left: 62px;
        margin-top: 32px;
        transform: rotate(7deg);
    }
    #t2{
        margin-left: 52px;
        margin-top: 32px;
        transform: rotate(-4deg);
    }
    #t3{
        margin-left: 84px;
        margin-top: 32px;
    }
}

.swiper-button-disabled{
    display: none;
}

.swiper-path{
    stroke: lighten($bg-color, 6);
}

.swiper-button-next{
    background-image: none;
    &:hover{
        transform: scale(1.2);
    }
}

.swiper-button-prev{
    background-image: none;
    &:hover{
        transform: scale(1.2);
    }
}

.button-tutorial{
    margin-bottom: 70px !important;
}

/*+++++++++++++++++++/
  Journey Style
/+++++++++++++++++++*/

//>>>Journey
.to-poster{
    position: absolute;
    top: 32px;
    left: 32px;
    background-color: $bg-color;
    color: $text-color-primary;
    @include font('Harmonia', 700, 16px);
    padding: 6px 15px 4px 15px;
    border-radius: 30px;
    box-shadow: 0px 0px 5px $text-color-primary;
}
.story {
    position: relative;
    width: 100%;
    background-color: $bg-color;
    padding: 20px;
    border-radius: 25px;
    height: 300px;  //Story Height
    margin-top: 20px;
    margin-bottom: 30px;

    color: $text-color-primary;

    overflow: visible;

    @include font("Harmonia", 400, 14px);

    .your-story{
        position: absolute;
        top: -20px;
        background-color: $text-color-primary;
        color: $bg-color;
        @include font('Harmonia', 700, 16px);
        padding: 3px 10px 2px 10px;
        border-radius: 10px;
        }

    .content {
        margin-top: 20px;
        text-align: left;
        @include font("Harmonia", 700, 20px);
      }

    .created {
        position: absolute;
        top: 15px;
        right: 20px;
    }

    .headline{
        position: absolute;
        top: 15px;
        left: 20px;
    }

    .location{
        position: absolute;
        bottom: 15px;
        right: 20px;
        svg{
            margin-bottom: 3px;
        }
    }

    .delete{
        position: absolute;
        bottom: 15px;
        right: 20px;
        cursor: pointer;
    }
    .emoji{
        position: absolute;
        right: 0;
        left: 0;
        margin-left: auto;
        margin-right: auto;
        top: -30px;
        background: transparent;
        border: 0px;
        box-shadow: none;
        font-size: 50px;
    }
  }

  #feed{
    position: absolute;
    bottom: 10px;
    padding: 0px;
  }
  .swiper-slide{
      .story{
        background: #834B90;
        opacity: 1;
        z-index: 0;
        transition: 300ms;

            transform: scale(0.8);
      }
  }
  .swiper-slide-next{
      .story{
          transform: scale(0.8) translateX(-60px);
      }
  }
  .swiper-slide-prev{
    .story{
        transform: scale(0.8) translateX(60px);
    }
}

.swiper-container{
    overflow: inherit;
}
  .swiper-slide-active{
      .story{
        background: $bg-color;
        opacity: 1;
        transform: scale(1);
        z-index: 10;
        transition: 300ms;
        box-shadow:0px 0px 11px 2px #0000005c;
      }
    
}

  //>>Pagination Dots
  .swiper-pagination-bullet{
      background: $text-color-contrast;
    
  }
  .swiper-pagination-bullet-active{
    background: $bg-color;
}
  



  //>>FADER

  #fader-feed-map{
    position: absolute;
    bottom: 0px;

    height: $fader-height;
    width: 100%;

    background: linear-gradient(to top, $text-color-primary 50%,$text-color-primary 65%,rgba(255,255,255,0.1) 85%, rgba(255,255,255,0) 97%)
  }


  //>>MAP STYLE

  .map-zoom-button{
      position: absolute;
      z-index: 100;
      top: 32px;
      right: 8px;
    .zbtn{
        margin: 10px 0px;
        width: 40px;
        height: 40px;
        background-color: $text-color-primary;
        @include font('Harmonia', 900, 30px);
        color: $text-color-contrast;
        border-radius: 5px;
        box-shadow: 0px 0px 5px $text-color-primary;
        cursor: pointer;
        user-select: none;
        transition: 100ms ease;
        &:active{
            color: darken($text-color-contrast, 20);
            background-color: darken($text-color-primary, 2);
            box-shadow: 0px 0px 1px $text-color-primary;
        }
    }
  }

  .map-marker{
      fill: $bg-color;
      stroke: $text-color-primary;
      stroke-width: 2px;
      &.active{
        fill: $text-color-primary;
        stroke: $bg-color;
        stroke-width: 2px;
      }
  }


  .vue-map-container{
    position: absolute;
    width: 100%;
    height: $map-height;
  }

  a[href^="http://maps.google.com/maps"]{display:none !important}
  a[href^="https://maps.google.com/maps"]{display:none !important}
  .gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
  }
.gmnoprint div {
    background:none !important;
}


//>>Topic Selection





/*+++++++++++++++++++/
  Tell Style
/+++++++++++++++++++*/

//>>>Topic Selection
.topic{
    text-align: left;
    padding-top: 40px;
    width: 100%;
    height: 100%;

    @include font('Harmonia', 900, 50px);
    line-height: 1.2;
    color: $text-color-primary;
    .text-block{
        padding: 32px;
    }

    .link{
        background-image: linear-gradient(180deg,rgba(255,255,255,0) 50%, lighten($bg-color, 5) 50%);
        color: $text-color-primary;
        font-size: 50px;
        font-weight: 900;  
        text-decoration: underline;
        text-decoration-style: solid;


       
    }
}

#tell-button{
    width: 200px;
    &:disabled{
        min-width: 300px;
    }
}

#new-story{
    width: 100%;
    height: 100%;
    border: 0px;
    padding: 32px;
   

    @include font('Harmonia', 900, 50px);
    line-height: 1.2;

    color: $text-color-primary;
    background-color: $bg-color;

    caret-color: $text-color-primary;
    &::placeholder{
        color: rgba( $text-color-primary, .4 )
    }
    &:focus{
        outline: none;
    }
    &::selection {
        background: $text-color-primary;
        color: $bg-color;
      }
}

.header{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    min-height: 60px;

    padding-top: 32px;
    background-color: $bg-color;
}



.form{
    padding-top: 40px;
    padding-bottom: 50px;
    background-color: $bg-color;
    position: relative;
    height: 90%;
    z-index: 0;
    width: 100%;
}

#remain-char{
    position: absolute;
    top: 32px;
    right: 32px;

    z-index: 100;

    color: $text-color-primary;
    font-family: 'Harmonia';
}

.new{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topic .link
{
    color: $text-color-primary;
    &:hover{
        transition: all 0.5;
        background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, $text-color-primary 0%);
        color: $bg-color;
      }

}


.pop-up{
    font-family: 'Harmonia';
    color: $text-color-primary;

    max-width: 80%;
    padding: 2px 5px 2px 5px;

    position: absolute;
    bottom: 30px;
    left: 20px;
}

//>>>Emoji Selection

.feel{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.emoji{
    font-size: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    background-color: lighten($bg-color, 5);
    border-radius: 15px;
    width: 70px;
    height: 70px;

}


.grid-9x9{
    margin-top: 5%;
    max-width: 250px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;

    margin-bottom: 20px;
}

.grid-9x9 label{
    margin-top: 3%;
    width: 33.3%;
    text-align: -webkit-center;
    cursor: pointer;
}
.grid-9x9 label span{
    padding-top: 7px;
}


.radio-hide{
    display: none;
}

.radio-hide:hover{
    cursor: pointer;
}

.radio-hide:checked + .emoji{
    box-shadow: 0 1px 13px 0 lighten($text-color-primary, 5);
    border-color: $text-color-primary;
    border-width: 1px;
    background-color: $text-color-primary;
    animation: emoji-whoop 300ms ease-in-out;


    @keyframes emoji-whoop {
        0% { transform: scale(1); }
        50% { transform: scale(1.6); }
        100% { transform: scale(1); }
      }
}

/*+++++++++++++++++++/
  Where Style
/+++++++++++++++++++*/

.input-location{
    background: $bg-color;
    border: none;
    color: $text-color-primary;
    @include font('Harmonia', 900, 50px);
    padding-left: 32px;
    width: 100%;
    line-height: 1.2;
    &::placeholder{
        color: rgba( $text-color-primary, .4 );
        
    }
}

.where{
    p{
        @include font('Harmonia', 700, 20px);
        color: $text-color-primary;
        text-align: left;
    }
}

/*+++++++++++++++++++/
  Summary Style
/+++++++++++++++++++*/

$card-height: 60%;
$card-width: 90%;

$card-space-left: 20px;
$card-space-right: 20px;
$card-space-bottom: 20px;
$card-space-top: 20px;

$card-font-size-l: 35px;
$card-font-size-s: 16px;


.summary-card{
    height: $card-height;
    width: $card-width;
    background-color: $text-color-primary;
    z-index: 10;
    border-radius: 30px;
    padding-top: $card-space-top;
    position: relative;
    color: $text-color-contrast;
    @include font('Harmonia', 700, $card-font-size-s);

    position: absolute;
    top: 80px;

    &.hide{
        top: -350px;
    }
}

.d-r{
    position: absolute;
    bottom: $card-space-bottom;
    right: $card-space-right;
}
.d-l{
    position: absolute;
    bottom: $card-space-bottom;
    left: $card-space-left;
}

.t-r{
    position: absolute;
    top: $card-space-top;
    right: $card-space-right;
}
.t-l{
    position: absolute;
    top: $card-space-top;
    left: $card-space-left;
}

#summary-story{
    width: 100%;
    height: 100%;
    border: 0px;
    padding: calc( #{$card-space-top} + 10px) $card-space-right $card-space-bottom $card-space-left;
    background-color: transparent;
    z-index: 20;
   

    @include font('Harmonia', 900, $card-font-size-l);
    line-height: 1.2;

    color: $text-color-contrast;

    &::placeholder{
        color: rgba( $text-color-primary, .4 )
    }
    &:focus{
        outline: none;
    }
    &::selection {
        background: $text-color-primary;
        color: $bg-color;
      }
}

.emoji-edit{
    position: absolute;
    top: 150px;
    &.hide{
        display: none;
    }
}


/*+++++++++++++++++++/
  Giveaway Style
/+++++++++++++++++++*/

$countdown-h: 120px;
$countdown-w: 80px;
$countdown-fsize: 75px;

.countdown{
    position: relative;
    width: $countdown-w;
    height:$countdown-h;

    margin-left: auto;
    margin-right: auto;

    margin-top: 50px;
    margin-bottom: 30px;

    border-radius: 25px;

    background-color: lighten($bg-color, 5);
    text-align: center;

    color: $text-color-primary;

    @include font('Harmonia', 900, $countdown-fsize);

    .description{
        position: absolute;
        font-size: 20px;

        bottom: 5px;
        left: 0;
        right: 0;
    }

    &.vertical{
        width: 200px;
        height: 100px;
        text-align: left;
        padding-left: 20px;
        .description{
            position: absolute;
            font-size: 40px;
            left: 80px;
            top: 25px;
        }

        &.seconds{
           width: auto;
           padding-right: 20px;
           .description{
               margin-left: 10px;
               position: relative;
               top: inherit;
               left: inherit;
           }
           .countdown-timer{
               position: relative;
           }
           div{
               display: inline;
           }
        }
    }

    animation: pulse 1000ms ease-in-out infinite;


    @keyframes pulse {
        0% { transform: scale(1); }
        50% { transform: scale(1.05); }
        100% { transform: scale(1); }
      }

}

.giveaway-alert{
    background-color: $text-color-primary;

    @include font('Harmonia', 700, 20px);
    color: $bg-color;
    padding: 10px 15px 8px 0px;
    text-align: left;

    transform: rotate(-2deg);

    &.success{
        transform: rotate(0deg);
        color: $text-color-primary;
        background-color: $bg-color;
    }
}

.giveaway{
    overflow: hidden;
    .story{
        width: 90%;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        background-color: $text-color-primary;
        color: $text-color-contrast;
        transition: 500ms;
        word-break: break-all;
        width: 100%;
    }


    .instruction{
        margin-top: 0px;
        padding: 0px 10px 0px 0px;
        @include font('Harmonia', 700, 16px);
        line-height: 1.2;
        color: $text-color-primary;
    }

}
    
/*+++++++++++++++++++/
  Poster Style
/+++++++++++++++++++*/

$distance: 22px;

$top-height: 30%;

.poster-path-button{
    float: left;
    @include font('Harmonia', 700, 20px);
    padding-left: 8px;
    color: $text-color-primary;
    background-color: $bg-color;
    border: none;
    box-shadow: 0px 2px 6px rgba($bg-color, 0.3);
}

.no-poster{
    padding-left: 32px;
    padding-top: 32px;
    padding-right: 32px;
    @include font('Harmonia', 700, 20px);
    color: $text-color-primary;
    line-height: 1 !important;
    text-align: left;
}


.poster{

    width: 100%;
    height: 100%;
    background-color: $bg-color;
    

    .top{
        display: flex;
        align-items: center;
        justify-content: center;
        height: $top-height;
        font-size: 50px;
        position: relative;
        @include font('Harmonia', 700, 50px);
        line-height: 1;
        color: $text-color-primary;
    }

    .bottom{
        display: flex;
        flex-direction: column;
        height: calc(100% - #{$top-height});
        padding: $distance;
        background-color: $text-color-primary;
        color: $bg-color;
        align-items: left;
        overflow-y: scroll;
        @include font('Harmonia', 700, 14px);
    }

    .b{
        @include font('Harmonia', 700, 14px);
        color: $text-color-primary;
        position: absolute;
        bottom: $distance;
    }
    .r{
        position: absolute;
        right: $distance;
        text-align: right;
    }
    .l{
        position: absolute;
        left: $distance;
        text-align: left;
    }
}

.poster-countdown{
    position: absolute;
    bottom:16px;
    right: 16px;
    text-align: right;
    color: $text-color-primary;
    line-height: 1;

    @include font('Harmonia', 700, 14px);
}

.poster-headline{
    text-align: left;
    @include font('Harmonia', 900, 18px);

}

.poster-content{
    text-align: left;
    @include font('Harmonia', 900, 35px);
    line-height: 1.2;
}

.poster-logo{
    width: 100%;
    background-color: $text-color-primary;
    position: fixed;
    margin-bottom: 32px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
 .hs-logo{
     margin-bottom: -15px;
 }

/*+++++++++++++++++++/
  Add Poster Style
/+++++++++++++++++++*/

.add-poster{

    .drag-target{
        padding: 15px 25px;
        border-radius: 0px 0px 20px 20px;
        color: $bg-color;
        background-color: rgba( $bg-color, .4 );
        @include font('Harmonia', 700, 20px);
    }

    #story-poster{
        height: 100%;
        width: 100%;
        position: absolute;
        .swiper-slide{
            margin-bottom: 50px;
            margin-top: auto;
            display: flex;
            justify-content: center;
        }
    }

    .story{
        width: 90%;
        margin-top: auto;;
    }

    .animation-tri{
        margin-top: 250px;
    }

    #rect1{
        margin-top: auto;
        opacity: 0;
        animation: swoosh 1000ms infinite 1000ms ease-in-out;
    }

    #rect2{
        opacity: 0;
        animation: swoosh 1000ms infinite 1100ms ease-in-out;
    }

    #rect3{
        opacity: 0;
        animation: swoosh 1000ms infinite 1200ms ease-in-out;
    }

    @keyframes swoosh {
        0% { 
            transform: translateY(0px); 
            opacity: 0;
        }
        30% { 
            opacity: 1;
        }
     
        100% { 
            transform: translateY(-150px); 
            opacity: 0;
        }
      }
}

