#nav{
    position: fixed !important;
    z-index: 20;
    color: white !important;
}

#app{
    width: 100%;
}

#nav a {
    color: white;
}

.new{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submit-story{
    position: sticky;
    bottom: 0px;
    background: white;

    width: 100vw;
    min-height: 80px;
    padding-top: 10px;
    border-top: 1px solid #3d3d3d;
}

.submit-story button{
    min-width: 50vw;
    height: 60px;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    background-color: #7BFF80;
}

.submit-story button:disabled{
    background-color: rgb(163, 163, 163);
}

.pop-up{
    max-width: 80vw;
    padding: 10px 20px 10px 20px;
    background-color: #FF7B8B;

    border-radius: 10px;

    position: absolute;
    top: 20px;
}

.form{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 90%;
}

.content:focus{
    outline: none;
}

.char{
    position: absolute;
    bottom: 10px;
    right: 25px;
    margin-top: 5px;
    font-size: 12px;
}

.grid-9x9{
    max-width: 250px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;

    margin-bottom: 20px;
}

.grid-9x9 label{
    margin-top: 8%;
    width: 33.3%;
    text-align: -webkit-center;
    cursor: pointer;
}
.grid-9x9 label span{
    padding-top: 7px;
}



.input{
  border: 1px solid #3d3d3d;
  border-radius: 10px;

  font-size: 22px;

  margin-top: 20px;
  padding-left: 10px;
  padding-top: 10px;
}

.content{
  width: 100%;
  height:400px;
}

.radio-hide{
    display: none;
}

.radio-hide:hover{
    cursor: pointer;
}

.radio-hide:checked + .emoji{
    border: 2px solid #4A90E2;
    box-shadow: 0 1px 13px 0 rgba(74,144,226,0.70);
    border-radius: 10px;

    transition: box-shadow 100ms;
    transition-timing-function: ease-in;
}

.emoji{
    font-size: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;



    width: 60px;
    height: 60px;

    background: #FFFFFF;
    border: 1px solid #BDBDBD;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.40);
    border-radius: 10px;
}



/* Swiper - Tutorial */

.tutorial .swiper-container{
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
